tempCodeRunnerFile.py
.vscode/launch.json
__pycache__/merge.cpython-39.pyc
__pycache__/srt2ass.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
testfile/The_Good_Doctor.S04E02.2020-11-09.WEBDL-1080p.en.ass
testfile/The_Good_Doctor.S04E02.2020-11-09.WEBDL-1080p.en.srt
testfile/The_Good_Doctor.S04E02.2020-11-09.WEBDL-1080p.zh.srt
